:root {
  --background: #595a63;
  --div: #bec0cc;
  --text: #000000;
  --standard: #606eb3;
  --positive: #74c969;
  --function :#5f19f7;
  --negative: #b35252;
  --blue: #5BCEFA;
  --pink: #F5A9B8;
  --white: #FFFFFF;
}

.body {
  background-color: var(--background);

}

.middle {
  position: absolute;
  top: 190px;
  left: 600px;
  bottom: 100px;
  right: 100px;
}

.login {
  position: absolute;
  top: 190px;
  left: 825px;
  bottom: 100px;
  right: 100px;
  height: 200px;
  width: 400px;
}

.orders {
  position: absolute;
  top: 190px;
  left: 825px;
  bottom: 100px;
  right: 100px;
  height: 450px;
  width: 600px;

}

.inventory {
  position: absolute;
  top: 190px;
  left: 825px;
  bottom: 100px;
  right: 100px;
  height: 450px;
  width: 600px;
}

.users {
  position: absolute;
  top: 190px;
  left: 825px;
  bottom: 100px;
  right: 100px;
  height: 370px;
  width: 600px;
}

.text {
  position: absolute;
  top: 190px;
  left: 825px;
  bottom: 100px;
  right: 100px;
  /* height: 370px;
  width: 600px; */
}



.card {
  padding:18px;
  border-radius:10px;
  border:1px solid;
}

.card.navigation {
  padding:18px;
  border-radius:10px;
  border:1px solid;
  float: left;
}

.card.hidden {
  background-color: var(--background);
  color: var(--background);
}

/* main {
  background-color: var(--background);
} */

h2 {
  color: var(--text);

}

h4 {
  color: var(--text);
}

h3 {
  color: var(--text);
}

label {
  color: var(--text);
}

textarea {
  background-color: var(--div);
}

.btn {
  background-color: #c9c5c5;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 12px;
}

.hidden {
  background-color: #c9c5c5;
  border: none;
  color: black;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 12px;
  width: 250px;
  height: 15px;
}

.btn.standard {
  background-color: var(--standard);
}

.btn.function {
  background: linear-gradient(80deg, var(--function), transparent);
}

.btn.positive {
  background: linear-gradient(80deg, var(--positive), transparent);
}

.btn.negative {
  background: linear-gradient(80deg, var(--negative), transparent);
}

div.blue {
  background-color: #5BCEFA;
  width: 250px;
  height: 2px;
}

div.pink {
  background-color: #F5A9B8;
  width: 250px;
  height: 2px;
}

div.white {
  background-color: #FFFFFF;
  width: 250px;
  height: 2px;
}


table {
  width:100%;border-collapse:collapse;

}

table th, table td {
  padding:12px;text-align:left;border-bottom:1px solid;
  color: var(--text)
}


table thead th {
  background:linear-gradient(180deg, rgba(42,139,214,0.06), transparent);font-weight:700;
}

.tableGrid th, .tableGrid td {
  padding:18px;
  color: var(--text);
}


.tableList th, .tableList td {
  padding:18px;
  color: var(--text);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Navigation Horizontal */

/* nav a {
  display:block;
  text-decoration:none;
  padding:8px;
  border-radius:8px;
  color: var(--text);
  list-style: none
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
} */

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Navigation Vertical */

nav a {
  display:block;
  text-decoration:none;
  padding:8px;
  border-radius:8px;
  color: var(--text);
  list-style: none
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

ul li {
  float: left;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #555555;
  color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

img {
  padding-left: 10px;
  padding-top: 10px;
}
